h1 {
  text-align: center;
}

body {
  background-color: #12852e;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.chicken {
  position: relative;
}

.body {
  width: 150px;
  height: 170px;
  background-color: rgb(150, 144, 144);
  border-radius: 50% / 60% 60% 40% 40%;
  position: relative;
  box-shadow: 7px 7px 0 7px rgb(95, 92, 92);
}

.eye {
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #000;
  top: 50px;
  animation: 8s chickenEye 1s infinite;
}
@keyframes chickenEye {
  2%{height: 7px;top: 54px;}
  4%{height: 15px;top: 50px;}
  6%{height: 7px;top: 54px;}
  8%{height: 15px;top: 50px;}
}


.eye-right {
  left: 50px;
}

.beak-top {
  width: 27px;
  height: 15px;
  background-color: #FFDA0F;
  border-radius: 27px 27px 0 0;
  position: absolute;
  top: 70px;
  left: -10px;
  border-left: 3px solid #fff;
}

.beak-bottom {
  width: 20px;
  height: 7px;
  background-color: #f0ba43;
  border-radius: 0 0 7px 7px;
  position: absolute;
  top: 85px;
  left: -1px;
}

.under-beak {
  height: 20px;
  width: 15px;
  background-color: #A20000;
  position: absolute;
  top: 85px;
  left: 5px;
  border-radius: 20px 2px 8px 8px;
}

.wing {
  width: 40px;
  height: 20px;
  border-radius: 0 0 10px 30px;
  position: absolute;
  top: 100px;
  left: 75px;
  border: 5px solid;
  border-color: transparent transparent #000 #000;
}

.leg {
  position: absolute;
  width: 10px;
  height: 30px;
  border-radius: 10px;
  left: 55px;
  background-color: #f0ba43;
  bottom: -35px;
}
.leg-right {
  left: 80px;
  background-color: #FFDA0F;
}

.crest {
  width: 30px;
  height: 40px;
  background-color: #A20000;
  border-radius: 40px 40px 0 0;
  position: absolute;
  top: -25px;
  left: 45px;
  border-left: 6px solid #D30700;
  transform: rotate(-10deg);
  box-shadow: 31px 14px 0 0 #A20000, 27px 14px 0 3px #D30700, 50px 30px 0 0 #A20000;
}

.tail {
  width: 30px;
  height: 70px;
  background-color: #A20000;
  border-radius: 40px 40px 0 0;
  position: absolute;
  top: 90px;
  right: -25px;
  border-right: 6px solid #D30700;
  transform: rotate(50deg);
  box-shadow: -23px -10px 0 0 #A20000;
}